# Node & PHP dependencies
node_modules/
vendor/

# Environment files
.env
.env.dusk
.env.dusk.local

# Laravel compiled / caches that are rebuildable
/storage/backups/*
/storage/framework/cache/*
/storage/framework/views/*
/storage/logs/*

# Logs
npm-debug.log*
yarn-error.log*
access_log
error_log
debug.log

# IDE / Editor / OS
/.idea
/.vscode
**/.DS_Store
/.vagrant
Homestead.json
Homestead.yaml

# Misc
docker-compose.yml
.phpunit.result.cache
phpunit.dusk.xml
supervisor.conf
/.project
.env.backup
.env.production
